@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Books On Demand is a service where you are able to search and demand your favorite books.</p>

    @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "form-inline bd-search hidden-sm-down" }))
    {

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
       new { type = "text", placeholder = "Search...", @class = "form-control", @for = "inlineFormInput" })

        <input type="submit" value="Search Book &raquo;" class="btn btn-primary" />
    }

    <br />
    <br />

    <input type="submit" value="My Previews Demands &raquo;" class="btn btn-primary" 
           onclick="location.href='@Url.Action("DemandsByUser","Books")'"/>
</div>